@use "../../App";

.CodeBlockContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;

  h2 {
    color: App.$title-color;
    text-shadow: App.$title-shadow2 App.$title-color;
    margin-bottom: 10px;
    font-size: 32px;
  }

  .codeContainer {
    width: 50rem;
    gap: 20px;
    margin-top: 20px;
    position: relative;
  }

  .smiley {
    font-size: 200px;
    margin-top: 1rem;
  }
}
